<!DOCTYPE html>
<html lang="en" ng-app="app.todos">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="assets/css/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.0/css/xeditable.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.0/js/xeditable.min.js"></script>
    <script src="//kit.fontawesome.com/b5b2a77a16.js"></script>
    <title>To Do Angular</title>
</head>

<body ng-controller='todoController'>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222f3e;">
        <a class="navbar-brand" style="margin-right: 85%" href="#">My First App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
            <a href="/logout" class="btn btn-outline-success btn-lg my-2 my-sm-0">Log-Out</a>
        </div>
    </nav>
    <div class="container" style="margin: 8px auto 0 auto">
        <div class="row g-head jumbotron text-center">
            <div class="col-lg-12 ">
                <h1 class="g-appName">{{ appName}} </h1>
                <p style="color: white">You have <span style="color:#f1c40f ; font-size: 1.2rem"><strong>{{todo.length}}</strong></span> to do !</p>
            </div>
        </div>
        <div id="todo-form" class="row justify-content-center">
            <div class="col-lg-10  text-center">
                <form>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input ng-model="formData.text" type="text" class="form-control" placeholder="What do you want to do?" aria-label="Enter Todo!!" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-warning" id="button-addon2" ng-click="createTodo()" ng-disabled="!formData.text">Add a Todo</button>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" ng-show='loading'><i class="fa fa-spinner fa-spin fa-3x"></i></p>
                </form>
            </div>
        </div>
        <div id="todo-list" class="row justify-content-center">
            <div class="col-lg-8 g-col">
                <div ng-repeat="item in todo">
                    <div class="g-inp ">
                        <label>
                                <input class="check" type="checkbox" ng-model="item.isDone" ng-change="updateTodo(item)"> <span ng-class="{strike: item.isDone}" editable-text="item.task" e-form="textBtnForm" onaftersave="updateTodo(item)">{{item.task}}</span>
                                </label>
                        <div style="float:right; margin-right: 8px;">
                            <button class="btn btn-outline-primary " ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="far fa-edit "></i></button>
                            <button class="btn btn-outline-danger" ng-click="deleteTodo(item)"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</body>
<script src="assets/js/main/app.js"></script>
<script src="assets/js/main/services/svTodo.js"></script>


</html>