<!DOCTYPE html>
<html lang="en" ng-app="todo.login">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link href="//fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/log-in.css">
    <link href="//fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.0/css/xeditable.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.0/js/xeditable.min.js"></script>
    <script src="https://kit.fontawesome.com/b5b2a77a16.js"></script>
    <script src="/assets/js/main/test.js"></script>
</head>

<body ng-controller="formController">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mt-5">
                <h1>
                    <i>{{title}}</h1></i>
                    <hr class="hr-cus">
                    <small style="color: white; font-family: 'Be Vietnam', sans-serif;
                    "><i>" Hope you enjoy it &nbsp;<i class="fas fa-heart" style="color: #ff7979"></i> "</i> </small>
            </div>
        </div>
        <div class="row justify-content-center bg-login">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row mb-5">
                    <div class="col-lg-12 text-center ">
                        <div class="row text-login">
                            <div class="col-lg-12"> Log-in</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <small style="color: white; font-family: 'Be Vietnam', sans-serif;
                                    "><i>" Log-in to use  "</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="POST" action="/login">
                    <% if(errors !=""){%>
                        <% errors.forEach((item)=>{%>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                            <%});%>
                                <%} %>
                                    <% if(success !=""){%>
                                        <% success.forEach((item)=>{%>
                                            <div class="alert alert-success">
                                                <%- item %>
                                            </div>
                                            <%});%>
                                                <%} %>
                                                    <div class="input-group flex-nowrap mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" style="width: 50px; padding: 17px" id="addon-wrapping"><i class="far fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                                    </div>
                                                    <div class="input-group flex-nowrap mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" style="width: 50px; padding: 17px" id="addon-wrapping"><i class="fas fa-key"></i></span>
                                                        </div>
                                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <button ng-click="login()" type="submit" class="btn btn-warning btn-lg btn-login" name="commit">Log-in</button>
                                                            <!-- Button Modal Register -->
                                                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
                                Register
                              </button>
                                                        </div>
                                                    </div>
                </form>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title " id="LabelHeader">Register Form</div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                            <div class="modal-body" id="registerModal">
                                <form html="{:multipart=>true}" method="POST" data-remote="true" action="/register" accept-charset="UTF-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputUserName" aria-describedby="emailHelp" placeholder="Enter email" name="reg_email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPasswordRes" placeholder="Password" name="reg_pass" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputConfirmPass" placeholder="Confirm-Password" name="reg_reenter_pass" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Register" class="form-control btn btn-register btn-primary" id="exampleInputConfirmPass" name="commit">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <span>Already Account?</span>
                                    <a href="/">Log-in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="/assets/js/main/login.js"></script>

</html>