html {
    font-family: 'EB Garamond';
}


/* @media screen and (max-width: 1200px) and (min-width: 600px),
(min-width: 300px) {
    .btn-login {
        margin-left: 30%;
    }
} */

body {
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
    border: 1px solid #e909a6 !important;
    border-top-left-radius: none !important;
    border-bottom-left-radius: none !important;
}

.bg-login {
    margin-top: 8%;
    padding-bottom: 50px;
    /* background-color: orange; */
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    color: white;
    font-family: 'EB Garamond', serif;
}

label {
    color: white;
}

.text-login {
    font-size: 50px;
    color: #eccc68;
    font-family: 'EB Garamond', serif;
}

.form-group input,
.input-group input {
    height: 60px;
}

hr.hr-cus {
    border-top: 1px solid white;
    width: 50%;
}