html {
    overflow-y: scroll;
}

body {
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.g-appName {
    text-shadow: 2px 2px #e74c3c;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    color: white;
    margin-top: 2px;
}

@media screen and (max-width: 1200px) and (min-width: 600px),
(min-width: 900px) {
    #todo-list {
        height: 500px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

#todo-list {
    height: 500px;
}

.g-inp:hover {
    color: #d35400;
}

.g-inp {
    color: #34495e;
    background-color: #e9ecef;
    font-size: 1.3rem;
    text-transform: capitalize;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid gray;
}

.strike {
    text-decoration: line-through;
}

.jumbotron {
    padding: 0;
    margin-bottom: 0.2em !important;
}

.container {
    background-color: #e9ecef;
}

.g-col {
    padding: 0 !important;
}

.g-head {
    background-image: url(../img/BG_Head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}